In [1]:
import glob

x = glob.glob("./training_data/**/*dataset.csv", recursive=True)
len(x)

4196

In [2]:
import pandas as pd

df_all = pd.DataFrame()

group_id = 1
for ds_path in x:
    ds = pd.read_csv(ds_path)
    ds["group_id"] = group_id
    df_all = pd.concat([df_all, ds], ignore_index=True)
    group_id += 1

In [3]:
df_all

,idx,S1,S2,ntaxa_S1,ntaxa_S2,bl_S1_b,bl_S2_b,maxBL_S1_b,maxBL_S2_b,cumBL_S1,...,bl_S2_a,maxBL_S1_a,maxBL_S2_a,ll_rearrs,ll_orig,ntaxa,tbl,maxBL,target,group_id
0,0,Sp039,Sp019,1,1,0.051016,0.018346,0.000000,0.000000,0.000000,...,0.016934,0.000000,0.000000,-4940.593251,-4933.99541,48,1.365554,0.184093,0.001337,1
1,1,Sp010,Sp019,1,1,0.060472,0.018346,0.000000,0.000000,0.000000,...,0.016177,0.000000,0.000000,-4939.937320,-4933.99541,48,1.365554,0.184093,0.001204,1
2,2,N52,Sp041,2,1,0.016589,0.039329,0.060472,0.000000,0.111488,...,0.038808,0.061877,0.000000,-4934.767675,-4933.99541,48,1.365554,0.184093,0.000157,1
3,3,Sp019,Sp041,1,1,0.018346,0.039329,0.000000,0.000000,0.000000,...,0.039029,0.000000,0.000000,-4935.482245,-4933.99541,48,1.365554,0.184093,0.000301,1
4,4,Sp041,N21,1,4,0.039329,0.007733,0.000000,0.023243,0.000000,...,0.007729,0.000000,0.023273,-4936.438210,-4933.99541,48,1.365554,0.184093,0.000495,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211696,63,N7,N5,14,2,0.004874,0.004786,0.109166,0.061277,0.498228,...,0.039301,0.105877,0.052073,-18806.198157,-18602.77220,37,1.830373,0.130364,0.010935,4196
211697,64,Sp017,N4,1,33,0.061277,0.065391,0.000000,0.130364,0.000000,...,0.061273,0.000000,0.130419,-18599.084931,-18602.77220,37,1.830373,0.130364,-0.000198,4196
211698,65,Sp011,N4,1,33,0.021750,0.065391,0.000000,0.130364,0.000000,...,0.065616,0.000000,0.130357,-18603.232408,-18602.77220,37,1.830373,0.130364,0.000025,4196
211699,66,N4,Sp028,33,1,0.065391,0.005216,0.130364,0.000000,1.642062,...,0.006131,0.130279,0.000000,-18627.306823,-18602.77220,37,1.830373,0.130364,0.001319,4196
211700,67,N5,Sp028,2,1,0.004786,0.005216,0.061277,0.000000,0.083027,...,0.005839,0.074615,0.000000,-18627.233868,-18602.77220,37,1.830373,0.130364,0.001315,4196

In [4]:
# group_ids = df_all["group_id"].unique()
from defs_NNI import *
df_all.groupby("group_id").size().describe()

count    4196.000000
mean       50.453051
std        30.309786
min         2.000000
25%        26.000000
50%        45.000000
75%        72.000000
max       134.000000
dtype: float64

In [5]:
a, b, c = truncate(df_all)

In [6]:
a

,idx,S1,S2,ntaxa_S1,ntaxa_S2,bl_S1_b,bl_S2_b,maxBL_S1_b,maxBL_S2_b,cumBL_S1,...,bl_S2_a,maxBL_S1_a,maxBL_S2_a,ll_rearrs,ll_orig,ntaxa,tbl,maxBL,target,group_id
0,0,Sp039,Sp019,1,1,5.101580e-02,1.834560e-02,0.000000,0.000000,0.000000,...,0.016934,0.000000,0.000000,-4940.593251,-4933.99541,48,1.365554,0.184093,0.001337,1
1,1,Sp010,Sp019,1,1,6.047230e-02,1.834560e-02,0.000000,0.000000,0.000000,...,0.016177,0.000000,0.000000,-4939.937320,-4933.99541,48,1.365554,0.184093,0.001204,1
2,2,N52,Sp041,2,1,1.658890e-02,3.932870e-02,0.060472,0.000000,0.111488,...,0.038808,0.061877,0.000000,-4934.767675,-4933.99541,48,1.365554,0.184093,0.000157,1
3,3,Sp019,Sp041,1,1,1.834560e-02,3.932870e-02,0.000000,0.000000,0.000000,...,0.039029,0.000000,0.000000,-4935.482245,-4933.99541,48,1.365554,0.184093,0.000301,1
4,4,Sp041,N21,1,4,3.932870e-02,7.733090e-03,0.000000,0.023243,0.000000,...,0.007729,0.000000,0.023273,-4936.438210,-4933.99541,48,1.365554,0.184093,0.000495,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211424,5,Sp008,Sp000,1,1,1.121140e-02,2.891760e-01,0.000000,0.000000,0.000000,...,0.294286,0.000000,0.000000,-634.060335,-633.33262,9,0.322629,0.289176,0.001149,4190
211425,6,N8,Sp006,4,1,4.055000e-03,2.200000e-07,0.011211,0.000000,0.018621,...,0.000001,0.011222,0.000000,-633.785441,-633.33262,9,0.322629,0.289176,0.000715,4190
211426,7,Sp000,Sp006,1,1,2.891760e-01,2.200000e-07,0.000000,0.000000,0.000000,...,0.000001,0.000000,0.000000,-633.785384,-633.33262,9,0.322629,0.289176,0.000715,4190
211427,8,N6,Sp004,5,1,3.379460e-03,3.695630e-03,0.289176,0.000000,0.311852,...,0.003705,0.297405,0.000000,-636.616919,-633.33262,9,0.322629,0.289176,0.005186,4190
211428,9,Sp006,Sp004,1,1,2.200000e-07,3.695630e-03,0.000000,0.000000,0.000000,...,0.007446,0.000000,0.000000,-639.201870,-633.33262,9,0.322629,0.289176,0.009267,4190

In [7]:
b

array([   1,    2,    3, ..., 4188, 4189, 4190])

In [8]:
c

419

In [9]:
for low_i in b[::c]:
    low_i, = np.where(b == low_i)
    # print (low_i)
    low_i = int(low_i[0])
    up_i = low_i + c

    test_ixs = b[low_i:up_i]
    train_ixs = np.setdiff1d(b, test_ixs)
    # print (test_ixs)
    # print (train_ixs)
    df_test = a.loc[a["group_id"].isin(test_ixs)]
    df_train = a.loc[a["group_id"].isin(train_ixs)]

In [10]:
df_test.columns

Index(['idx', 'S1', 'S2', 'ntaxa_S1', 'ntaxa_S2', 'bl_S1_b', 'bl_S2_b',
       'maxBL_S1_b', 'maxBL_S2_b', 'cumBL_S1', 'cumBL_S2', 'bl_S1_a',
       'bl_S2_a', 'maxBL_S1_a', 'maxBL_S2_a', 'll_rearrs', 'll_orig', 'ntaxa',
       'tbl', 'maxBL', 'target', 'group_id'],
      dtype='object')

In [11]:
df_train

,idx,S1,S2,ntaxa_S1,ntaxa_S2,bl_S1_b,bl_S2_b,maxBL_S1_b,maxBL_S2_b,cumBL_S1,...,bl_S2_a,maxBL_S1_a,maxBL_S2_a,ll_rearrs,ll_orig,ntaxa,tbl,maxBL,target,group_id
0,0,Sp039,Sp019,1,1,0.051016,0.018346,0.000000,0.000000,0.000000,...,0.016934,0.000000,0.000000,-4940.593251,-4933.99541,48,1.365554,0.184093,0.001337,1
1,1,Sp010,Sp019,1,1,0.060472,0.018346,0.000000,0.000000,0.000000,...,0.016177,0.000000,0.000000,-4939.937320,-4933.99541,48,1.365554,0.184093,0.001204,1
2,2,N52,Sp041,2,1,0.016589,0.039329,0.060472,0.000000,0.111488,...,0.038808,0.061877,0.000000,-4934.767675,-4933.99541,48,1.365554,0.184093,0.000157,1
3,3,Sp019,Sp041,1,1,0.018346,0.039329,0.000000,0.000000,0.000000,...,0.039029,0.000000,0.000000,-4935.482245,-4933.99541,48,1.365554,0.184093,0.000301,1
4,4,Sp041,N21,1,4,0.039329,0.007733,0.000000,0.023243,0.000000,...,0.007729,0.000000,0.023273,-4936.438210,-4933.99541,48,1.365554,0.184093,0.000495,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189803,47,Sp006,N5,1,2,0.086965,0.049232,0.000000,0.205240,0.000000,...,0.052229,0.000000,0.214984,-5824.139061,-5827.11069,29,1.763923,0.205240,-0.000510,3771
189804,48,Sp019,N4,1,25,0.169567,0.015654,0.000000,0.086965,0.000000,...,0.020577,0.000000,0.087355,-5833.805537,-5827.11069,29,1.763923,0.205240,0.001149,3771
189805,49,Sp015,N4,1,25,0.205240,0.015654,0.000000,0.086965,0.000000,...,0.005102,0.000000,0.088232,-5824.197140,-5827.11069,29,1.763923,0.205240,-0.000500,3771
189806,50,N4,Sp024,25,1,0.015654,0.058793,0.086965,0.000000,1.169000,...,0.049740,0.081439,0.000000,-5845.192895,-5827.11069,29,1.763923,0.205240,0.003103,3771
189807,51,N5,Sp024,2,1,0.049232,0.058793,0.205240,0.000000,0.374807,...,0.057527,0.195532,0.000000,-5846.512983,-5827.11069,29,1.763923,0.205240,0.003330,3771

In [12]:
from defs_NNI import *
features = ['ntaxa_S1', 'ntaxa_S2', 'bl_S1_b', 'bl_S2_b',
       'maxBL_S1_b', 'maxBL_S2_b', 'cumBL_S1', 'cumBL_S2', 'bl_S1_a',
       'bl_S2_a', 'maxBL_S1_a', 'maxBL_S2_a', 'ntaxa',
       'tbl', 'maxBL']
split_features_label(df_train, features)

(        ntaxa_S1  ntaxa_S2   bl_S1_b   bl_S2_b  maxBL_S1_b  maxBL_S2_b  \
 0              1         1  0.051016  0.018346    0.000000    0.000000
 1              1         1  0.060472  0.018346    0.000000    0.000000
 2              2         1  0.016589  0.039329    0.060472    0.000000
 3              1         1  0.018346  0.039329    0.000000    0.000000
 4              1         4  0.039329  0.007733    0.000000    0.023243
 ...          ...       ...       ...       ...         ...         ...
 189803         1         2  0.086965  0.049232    0.000000    0.205240
 189804         1        25  0.169567  0.015654    0.000000    0.086965
 189805         1        25  0.205240  0.015654    0.000000    0.086965
 189806        25         1  0.015654  0.058793    0.086965    0.000000
 189807         2         1  0.049232  0.058793    0.205240    0.000000

         cumBL_S1  cumBL_S2   bl_S1_a   bl_S2_a  maxBL_S1_a  maxBL_S2_a  ntaxa  \
 0       0.000000  0.000000  0.065900  0.016934    0.000000    0.000000     48
 1       0.000000  0.000000  0.075127  0.016177    0.000000    0.000000     48
 2       0.111488  0.000000  0.018133  0.038808    0.061877    0.000000     48
 3       0.000000  0.000000  0.021737  0.039029    0.000000    0.000000     48
 4       0.000000  0.101042  0.043470  0.007729    0.000000    0.023273     48
 ...          ...       ...       ...       ...         ...         ...    ...
 189803  0.000000  0.374807  0.080490  0.052229    0.000000    0.214984     29
 189804  0.000000  1.169000  0.210470  0.020577    0.000000    0.087355     29
 189805  0.000000  1.169000  0.227441  0.005102    0.000000    0.088232     29
 189806  1.169000  0.000000  0.069865  0.049740    0.081439    0.000000     29
 189807  0.374807  0.000000  0.080399  0.057527    0.195532    0.000000     29

              tbl     maxBL
 0       1.365554  0.184093
 1       1.365554  0.184093
 2       1.365554  0.184093
 3       1.365554  0.184093
 4       1.365554  0.184093
 ...          ...       ...
 189803  1.763923  0.205240
 189804  1.763923  0.205240
 189805  1.763923  0.205240
 189806  1.763923  0.205240
 189807  1.763923  0.205240

 [189808 rows x 15 columns],
 0         0.001337
 1         0.001204
 2         0.000157
 3         0.000301
 4         0.000495
             ...
 189803   -0.000510
 189804    0.001149
 189805   -0.000500
 189806    0.003103
 189807    0.003330
 Name: target, Length: 189808, dtype: float64)

NameError: name 'FEATURES' is not defined